
.public-header{
    height: 110px;
    background: blue;
}

.public-container{
    position: relative;
    margin: 0 auto;
    background: #006dcc;
    width: 1100px;
}

.index-footer{
    height: 318px;
    background: #3b3b3b;
}